.bro{
  height:200px;
  width:200px;
  position:absolute;
  animation: spin 2s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;

}

@keyframes spin {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}