:root{
  background-color: #1a1a1a;
}

.bro{
  perspective: 10px;
  height:200px;
  width:200px;
  position:absolute;
  animation: spin 2s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: center;
}

div {
  display: flex;
  justify-content: center;
  padding-top: 35vh;
}

@keyframes spin {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}