.bro {
  position:absolute;
  font-size:55px;
  animation: spin 1s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

@keyframes spin {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}